@font-face {
    font-family: 'Cairo';
    src: url('./assets/fonts/Cairo/Cairo-SemiBold.ttf') ;
}

/*
=============================
======== Variables ==========
=============================
*/
$white_color: #fff;
$black_color: #7A7A7A ;
$green_color: #4C9997 ;
$gray_color : #A1A2AA ;
$border_color : rgba(122, 122, 122, 0.1) ;

$desktop: 1024px ;
$tablet: 898px;

$sm-font: .7rem ;
$md-font: 1rem ;
$lg-font : 1.5rem ;

$radius_percent: 3px ;
 
@mixin fw(){
    display: inline;
    padding: 0 5px;
    color: $green_color ;
}
@mixin noLinkStyle($color){
    text-decoration: none;
    color: $color;
}

@mixin footerList(){
    margin: 2rem 1rem ;
    font-size: $sm-font;
    color: $black_color;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        a {
            @include noLinkStyle($black_color);
            transition: color .5s;
            &:hover {
                color: $green_color;
            }
        }
    }
}

@mixin center(){ 
    // position: fixed;
    left: 50%;
    transform: translateX(-50%,0);
}
@mixin noListStyle(){
    list-style: none;
}
@mixin btn($backgroundColor,$hoverColor){
    background-color: $backgroundColor;
    color: $hoverColor;
    border: none;
    cursor: pointer;
    padding: .5rem 1rem;
    font-size: $sm-font ;
    font-weight: bold;
    border-radius: $radius_percent;
    transition : color .3s , background-color .3s ;
    &:hover {
        color: $backgroundColor;
        background-color: $hoverColor;
    }
}

/*
================================
====== responsiveness ==========
================================
*/
@mixin desktop() {
    @media (min-width: $tablet) {
        @content ;
    }
}


body, html {
    margin: 0;
    padding: 0;
    font-family: "Cairo", Sans-serif;
}
* {
    box-sizing: border-box;
}
// =================================
// ========= header sytles =========
// =================================

header {
    @include center();
    // position: fixed;
    min-width: 80vw;
    margin-top: 1rem;

    color: #A1A2AA;
    font-size: 11px;
    font-weight: 400;
}

@for $i from 1 through 3 {
    .h-sec-#{$i} {
        border-bottom: 1px solid $border_color ;
        width: 100vw;
    }
}

.h-sec-1 {
    
    .honor, .work-hours, .email {
        text-align: center;
        margin: 0 1rem;
    }
    
    .email a {
        @include noLinkStyle($gray_color);
        // background-color: #232323;
        // text-decoration: none;
        &:hover{
            color: $green_color;
        }
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: .3rem;
    
        .phones {
            order: 1;
            a {
                @include noLinkStyle($green_color);
                &:hover {
                    color: $gray_color ;
                }
            }
            li {
                @include noListStyle();
                font-weight: bold;
                color: $green_color ;
            }
        }
    }
    @include desktop(){

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .row > *:first-child {
            margin: 0 1rem;
        }
        
    }
}

.fw {
    @include fw();
}

.h-sec-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center ;
    .logo-1 {
        display: flex;
        flex-direction: column;
        color: $green_color;
        span {
            font-size: .5rem;
            font-weight: bolder;
        }
    }
    .links li {
        @include noListStyle();
        display: inline;
        margin: 0;
        padding: 0 .2rem ;
        a {
            @include noLinkStyle($gray_color);
        }

        &:hover {
            border-bottom: 2px solid $green_color;
        }
    }
}

.h-sec-3 { 
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    .news {
        padding: 0 1rem ;
        white-space: nowrap;
        background-color: #fff;
        z-index : 10 ;
        color: $green_color ;
        font-size: $md-font;
    }
    .news-ribbon {
        padding: 0 10px;

        white-space: nowrap;
        z-index: 0 ;
        
        animation-name: textSliding;
        animation-duration: 50s;
        animation-iteration-count: infinite; // 
        animation-timing-function: linear; // same speed

        a {
            @include noLinkStyle($gray_color);
        }
        .divider {
            color: $green_color;
            font-size: $md-font ;
            margin: 0 1rem ; 
        }
        &:hover {
            animation-play-state: paused;
        }
    }
}

@keyframes textSliding {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

// =================================
// ========= footer sytles =========
// =================================

footer {
   
    .reserve-area {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        min-height: 20vh;
        padding: .5rem 1rem;
        background-color: $green_color;
        
        .service-letter {
            width: 40%;
        }
        .appointment {
            white-space: nowrap;
            margin: 0 2rem;
            button {
                @include btn($white_color,$black_color);
            }
        }

        color: $white_color;
        font-size: $lg-font;
    }
    .info {
        display: flex;
        flex-wrap: wrap;

        & > div {
            // flex-basis: 30%;
            padding: 10px;
            // background-color: yellow
        }
        .title {
            color: $green_color;
        }
        .center-contact {
            min-width: 20%;
            @include footerList();
        }
        .center-info {
            min-width: 20%;
            // min-width: 10vw;
            @include footerList();
        }
        .center-service {
            min-width: 20%;
            // min-width: 20vw;
            @include footerList();
        }
        .center-photo {
            // min-width: 20%;
            // width: 25vw;
            @include footerList();
            ul {
                display: flex;
                // grid-template-columns: 1fr, 1fr, 1fr;
                // grid-template-columns: repeat(5, 1fr);
                // grid-gap: .5rem;
                flex-direction: row;
                flex-wrap: wrap;
            }
            ul li {
                // flex : 0 0 33.33333%;
                img {
                    cursor: pointer;
                    margin: 0 5px;
                    border-radius: 5px;
                    transition: filter .5s;
                    &:hover {
                        filter: brightness(70%);
                    }
                }
            }
        }
        

    }

    .copy-right {
        // background-color: yellowgreen;
        border-top: 1px solid $border_color;
        color: $green_color;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & > div {
            padding: 2rem ;
        }
        .copy-right-text {
            font-size: $sm-font;
            white-space: nowrap;
            width: 40%;
        }
    }
}

/*
=============================
======== social icons =======
=============================
*/
.socials {
    order: 2;
    .social-item {
        display: inline;
        padding: 0 5px;
        cursor: pointer;
        color: $green_color;
        &:hover {
            color: $gray_color
        }
    }
}