@font-face {
    font-family: 'Cairo';
    src: url('./assets/fonts/Cairo/Cairo-SemiBold.ttf') ;
}

/*
=============================
======== Variables ==========
=============================
*/
$global-color-primary: #4C9997 ;
$global-color-secondary: #333645 ;
$global-color-tertiary: #fafafa ;

$global-color-text: #7A7A7A ;

$global-color-white: #fff ;
$global-color-black: #000 ;

$global-color-border : rgba(122, 122, 122, 0.1) ;

$desktop: 1024px ;
$tablet: 898px;

$sm-font: .9rem ;
$md-font: 1rem ;
$lg-font : 1.5rem ;

$radius_percent: 3px ;
 
@mixin fw(){
    display: inline;
    padding: 0 5px;
    color: $global-color-primary ;
}

@mixin noLinkStyle($color){
    text-decoration: none;
    color: $color;
}

@mixin footerList(){
    margin: 2rem 1rem ;
    font-size: $sm-font;
    color: $global-color-text;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        a {
            @include noLinkStyle($global-color-text);
            transition: color .5s;
            &:hover {
                color: $global-color-primary;
            }
        }
    }
}

@mixin center(){ 
    left: 50%;
    transform: translateX(-50%,0);
}

@mixin noListStyle(){
    list-style: none;
}

@mixin btn($backgroundColor,$hoverColor,$hoverBorder:false,$borderBeforeHover:false){
    background-color: $backgroundColor;
    color: $hoverColor;
    @if $borderBeforeHover {
        border: 1px solid $hoverColor;
    }
    @else {
        border: 1px solid transparent;
    }
    cursor: pointer;
    padding: .5rem 1rem;
    font-size: $sm-font ;
    font-weight: bold;
    border-radius: $radius_percent;
    transition : color .3s , background-color .3s ;
    &:hover {
        @if $hoverBorder {
            border: 1px solid $backgroundColor;
        }
        color: $backgroundColor;
        background-color: $hoverColor;
    }
}

@mixin inputs($widthPercent) {
    
}

/*
================================
====== responsiveness ==========
================================
*/
@mixin desktop() {
    @media (min-width: $tablet) {
        @content ;
    }
}


body, html {
    margin: 0;
    padding: 0;
    font-family: "Cairo", Sans-serif;
    color: $global-color-text;
}
* , ::before,::after {
    box-sizing: border-box;
}

p {
    color: $global-color-text; // used in order photos
}
button {
    font-family: "Cairo", Sans-serif;
}
// =================================
// ========= header sytles =========
// =================================

header {
    @include center();
    min-width: 80vw;
    margin-top: 1rem;

    color: #A1A2AA;
    font-size: 11px;
    font-weight: 400;
}

@for $i from 1 through 3 {
    .h-sec-#{$i} {
        border-bottom: 1px solid $global-color-border ;
        width: 100vw;
    }
}

.h-sec-1 {
    
    .honor, .work-hours, .email {
        text-align: center;
        margin: 0 1rem;
    }
    
    .email a {
        @include noLinkStyle($global-color-text);
        &:hover{
            color: $global-color-primary;
        }
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: .3rem;
    
        .phones {
            order: 1;
            a {
                @include noLinkStyle($global-color-primary);
                &:hover {
                    color: $global-color-text ;
                }
            }
            li {
                @include noListStyle();
                font-weight: bold;
                color: $global-color-primary ;
            }
        }
    }
    @include desktop(){

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .row > *:first-child {
            margin: 0 1rem;
        }
        
    }
}

.fw {
    @include fw();
}

.h-sec-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center ;
    .logo-1 {
        display: flex;
        flex-direction: column;
        color: $global-color-primary;
        span {
            font-size: .5rem;
            font-weight: bolder;
        }
    }
    .links li {
        @include noListStyle();
        display: inline;
        margin: 0;
        padding: 0 .2rem ;
        a {
            @include noLinkStyle($global-color-text);
        }

        &:hover {
            border-bottom: 2px solid $global-color-primary;
        }
    }
}

.h-sec-3 { 
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    .news {
        padding: 0 1rem ;
        white-space: nowrap;
        background-color: #fff;
        z-index : 10 ;
        color: $global-color-primary ;
        font-size: $md-font;
    }
    .news-ribbon {
        padding: 0 10px;

        white-space: nowrap;
        z-index: 0 ;
        
        animation-name: textSliding;
        animation-duration: 50s;
        animation-iteration-count: infinite; // 
        animation-timing-function: linear; // same speed

        a {
            @include noLinkStyle($global-color-text);
        }
        .divider {
            color: $global-color-primary;
            font-size: $md-font ;
            margin: 0 1rem ; 
        }
        &:hover {
            animation-play-state: paused;
        }
    }
}

@keyframes textSliding {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

// =================================
// == TAQDEER REQUEST PAGE STYLES ==
// =================================
.body-request {
    
    .subject-container {
        
        color: $global-color-white;
        min-height: 10vh;
        padding: 2rem 0;
        background-color: transparent;
        background-image: linear-gradient(130deg , $global-color-primary 71%, $global-color-primary 97%);
        .subject-content {
            text-align: center;
        }
        .subject-background {
            width: calc(260% + 1.3px);
            transform: translateX(-50%) rotateY(180deg);
        }
    }
    .content {
        background-image: url(/assets/images/image-1-tran.png);
        background-position: center center ;
        background-size: cover;
        
        padding: 5rem 0;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        & > * {
            flex-basis: 100%;
        }
        // REQUEST STYLE
        .request-outer {
            background-color: #ffffff;
            
            border-radius: $radius_percent;
            box-shadow: 0 0 30px 0 rgba(0, 0, 0,.5);
            margin:0 40px;
            padding-top: 50px;
            .request-inner {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                .form-group {
                    margin: 0 10px;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 1rem;
                    min-width: 45%;
                    & > * {
                        flex-basis: 100%;
                    }
                    .form-label {
                        color: $global-color-text;
                        &:after {
                            content: "*";
                            color: red;
                            padding: 0 .2em;
                        }
                    }
                    .form-input, .appointment-time {
                        width: inherit;
                        border-radius: $radius_percent;
                        border: none;
                        background-color: $global-color-tertiary;
                        padding: 1rem 1.5rem;
                    }
                }
                
                .spec {
                    min-width: 45%*2;
                }

                button {
                    align-self: flex-end;
                    max-width: 115px ;
                    @include btn($global-color-primary,$global-color-white,true );
                }
            }
            @include desktop(){
                max-width:30% ;
            }
        }

        // ORDER STEPS STYLE
        .steps {
            display: flex;
            flex-direction: column;

            .step {
                display: flex;
                flex-direction: row;
                align-items: center;
                .order-num {
                    color: $global-color-primary;
                    font-size: 2rem;
                    padding: 0 1rem;
                    padding-bottom: 1rem;

                }
                .order-desc {
                    flex: 0 0 40%;
                    margin: 0 1rem;
                    padding-bottom: 2rem;
                    h4 {
                        color: $global-color-primary;
                    }
                    img {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
            @include desktop(){
                // background-color: red;
                max-width:30% ;
                
            }
        }
        @include desktop(){
            flex-direction: row;
            justify-content: center;
        }
    }
}
// =================================
// == TAQDEER REQUEST PAGE STYLES ==
// =================================

.body-landing {
    .taqdeer-container {
        height: 50vh;
        width: 85vw;
        margin: 0 auto;
        // background-color: red; // remove afterwards
        background-image: url(/assets/images/id-copy.png);
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        &>*{
            flex-basis: 100%;
        }

        .taqdeer-text {            
            .accident {
                // background-color: red;
                display: flex;
                & >*{
                    margin-left: 10px;
                }
                button {
                    @include btn($global-color-primary,$global-color-white ,true);
                    margin: 0 5px ;
                }
            }
        }
        .taqdeer-img{
            display: flex;
            justify-content: flex-end;
            margin: 0 3rem;
            img {
                width: 300px;
            }
            @include desktop(){
                max-width: 50%;
            }
        }
    }

    .easy-taqdeer {
       
        height: 70vh;
        background-color: $global-color-tertiary;
        background-image: url(/assets/images/image-1-tran.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        .inner-easy-taqdeer{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &>*{
                width: 680px;
            }
            #easy-desc {
                // background-color: red;
                color: $global-color-secondary;
            }
            .easy-img-container{
                margin: 30px 0 ;
                display: flex;
                flex-direction: row;
                .easy-img {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                &>*{
                    flex-basis: 100%;
                }
                .bubble-num{
                    background-color: $global-color-primary;
                    color: $global-color-white;
                    border-radius: 50px;
                    margin: 10px 0;
                    width: 25px;
                    font-size: $sm-font;
                }
            }
        }
    }

    // height: 70vh;
    .taqdeer-services {

        text-align: center;
        width: 700px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        // align-items: center;
        // justify-content: center;
        .services-images {
            
            display: flex;
            flex-direction: row;
            // justify-content: space-between;
            &>*{
                flex-basis: 100%;
            }
            .services {
                .services-desc{
                    height: 150px;
                    padding: 10px 10px;
                    border-radius: 2rem;
                    box-shadow: 0 0 20px 20px $global-color-tertiary;

                }
                display: flex;
                flex-direction: row;
                // align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;
                &>*{
                    flex: 1 1 50%;
                }
            }
        }
        .services-btns > .btn1{
            @include btn( $global-color-primary,$global-color-white, true,false);
        }
        .services-btns > .btn2{
            @include btn($global-color-white, $global-color-primary, true,true);
        }
        .services-btns > button{
            margin: 0 10px 20px;
        }
    }
}

// =================================
// ========= footer sytles =========
// =================================

footer {
   
    .reserve-area {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        min-height: 20vh;
        padding: .5rem 1rem;
        background-color: $global-color-primary;
        
        .service-letter {
            width: 40%;
        }
        .appointment {
            white-space: nowrap;
            margin: 0 2rem;
            button {
                @include btn($global-color-white,$global-color-secondary);
            }
        }

        color: $global-color-white;
        font-size: $lg-font;
    }
    .info > * {
        // flex-basis: 100%;
        // flex: 1 1 100%;
        // padding: 10px;
        // background-color: yellow
    }
    .info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;

        
        .title {
            color: $global-color-primary;
        }
        .center-contact {
            // min-width: 20%;
            @include footerList();
        }
        .center-info {
            // min-width: 20%;
            // min-width: 10vw;
            @include footerList();
        }
        .center-service {
            // min-width: 20%;
            // min-width: 20vw;
            @include footerList();
        }
        .center-photo {
            // flex: 1 1 33% ;
            // min-width: 20%;
            // width: 25vw;
            @include footerList();
            ul {

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                // & > * {
                //     flex: 1 1 33% ;
                // }
            }
            ul li {
                // flex : 0 0 33.33333%;
                img {
                    cursor: pointer;
                    margin: 0 5px;
                    border-radius: 5px;
                    transition: filter .5s;
                    &:hover {
                        filter: brightness(70%);
                    }
                }
            }
        }
        

    }

    .copy-right {
        // background-color: yellowgreen;
        border-top: 1px solid $global-color-border;
        color: $global-color-primary;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & > div {
            padding: 2rem ;
        }
        .copy-right-text {
            font-size: $sm-font;
            white-space: nowrap;
            width: 40%;
        }
    }
}

/*
=============================
======== social icons =======
=============================
*/
.socials {
    order: 2;
    .social-item {
        
        display: inline;
        padding: 0 5px;
        cursor: pointer;
        color: $global-color-primary;
        a {
            color: $global-color-primary;
            &:hover {
                color: $global-color-text;
            }
        }
    }
}
.black-text {
    color: $global-color-secondary;
}

.primary-text {
    color: $global-color-primary;
}