@font-face {
  font-family: "Cairo";
  src: url("./assets/fonts/Cairo/Cairo-SemiBold.ttf");
}
/*
=============================
======== Variables ==========
=============================
*/
/*
================================
====== responsiveness ==========
================================
*/
body, html {
  margin: 0;
  padding: 0;
  font-family: "Cairo", Sans-serif;
  color: #7A7A7A;
}

*, ::before, ::after {
  box-sizing: border-box;
}

p {
  color: #7A7A7A;
}

button {
  font-family: "Cairo", Sans-serif;
}

header {
  left: 50%;
  transform: translateX(-50%, 0);
  min-width: 80vw;
  margin-top: 1rem;
  color: #A1A2AA;
  font-size: 11px;
  font-weight: 400;
}

.h-sec-1 {
  border-bottom: 1px solid rgba(122, 122, 122, 0.1);
  width: 100vw;
}

.h-sec-2 {
  border-bottom: 1px solid rgba(122, 122, 122, 0.1);
  width: 100vw;
}

.h-sec-3 {
  border-bottom: 1px solid rgba(122, 122, 122, 0.1);
  width: 100vw;
}

.h-sec-1 .honor, .h-sec-1 .work-hours, .h-sec-1 .email {
  text-align: center;
  margin: 0 1rem;
}
.h-sec-1 .email a {
  text-decoration: none;
  color: #7A7A7A;
}
.h-sec-1 .email a:hover {
  color: #4C9997;
}
.h-sec-1 .row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.3rem;
}
.h-sec-1 .row .phones {
  order: 1;
}
.h-sec-1 .row .phones a {
  text-decoration: none;
  color: #4C9997;
}
.h-sec-1 .row .phones a:hover {
  color: #7A7A7A;
}
.h-sec-1 .row .phones li {
  list-style: none;
  font-weight: bold;
  color: #4C9997;
}
@media (min-width: 898px) {
  .h-sec-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .h-sec-1 .row > *:first-child {
    margin: 0 1rem;
  }
}

.fw {
  display: inline;
  padding: 0 5px;
  color: #4C9997;
}

.h-sec-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.h-sec-2 .logo-1 {
  display: flex;
  flex-direction: column;
  color: #4C9997;
}
.h-sec-2 .logo-1 span {
  font-size: 0.5rem;
  font-weight: bolder;
}
.h-sec-2 .links li {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0 0.2rem;
}
.h-sec-2 .links li a {
  text-decoration: none;
  color: #7A7A7A;
}
.h-sec-2 .links li:hover {
  border-bottom: 2px solid #4C9997;
}

.h-sec-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}
.h-sec-3 .news {
  padding: 0 1rem;
  white-space: nowrap;
  background-color: #fff;
  z-index: 10;
  color: #4C9997;
  font-size: 1rem;
}
.h-sec-3 .news-ribbon {
  padding: 0 10px;
  white-space: nowrap;
  z-index: 0;
  animation-name: textSliding;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.h-sec-3 .news-ribbon a {
  text-decoration: none;
  color: #7A7A7A;
}
.h-sec-3 .news-ribbon .divider {
  color: #4C9997;
  font-size: 1rem;
  margin: 0 1rem;
}
.h-sec-3 .news-ribbon:hover {
  animation-play-state: paused;
}

@keyframes textSliding {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.body-request .subject-container {
  color: #fff;
  min-height: 10vh;
  padding: 2rem 0;
  background-color: transparent;
  background-image: linear-gradient(130deg, #4C9997 71%, #4C9997 97%);
}
.body-request .subject-container .subject-content {
  text-align: center;
}
.body-request .subject-container .subject-background {
  width: calc(260% + 1.3px);
  transform: translateX(-50%) rotateY(180deg);
}
.body-request .content {
  background-image: url(/assets/images/image-1-tran.png);
  background-position: center center;
  background-size: cover;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body-request .content > * {
  flex-basis: 100%;
}
.body-request .content .request-outer {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
  margin: 0 40px;
  padding-top: 50px;
}
.body-request .content .request-outer .request-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.body-request .content .request-outer .request-inner .form-group {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  min-width: 45%;
}
.body-request .content .request-outer .request-inner .form-group > * {
  flex-basis: 100%;
}
.body-request .content .request-outer .request-inner .form-group .form-label {
  color: #7A7A7A;
}
.body-request .content .request-outer .request-inner .form-group .form-label:after {
  content: "*";
  color: red;
  padding: 0 0.2em;
}
.body-request .content .request-outer .request-inner .form-group .form-input, .body-request .content .request-outer .request-inner .form-group .appointment-time {
  width: inherit;
  border-radius: 3px;
  border: none;
  background-color: #fafafa;
  padding: 1rem 1.5rem;
}
.body-request .content .request-outer .request-inner .spec {
  min-width: 90%;
}
.body-request .content .request-outer .request-inner button {
  align-self: flex-end;
  max-width: 115px;
  background-color: #4C9997;
  color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 3px;
  transition: color 0.3s, background-color 0.3s;
}
.body-request .content .request-outer .request-inner button:hover {
  border: 1px solid #4C9997;
  color: #4C9997;
  background-color: #fff;
}
@media (min-width: 898px) {
  .body-request .content .request-outer {
    max-width: 30%;
  }
}
.body-request .content .steps {
  display: flex;
  flex-direction: column;
}
.body-request .content .steps .step {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.body-request .content .steps .step .order-num {
  color: #4C9997;
  font-size: 2rem;
  padding: 0 1rem;
  padding-bottom: 1rem;
}
.body-request .content .steps .step .order-desc {
  flex: 0 0 40%;
  margin: 0 1rem;
  padding-bottom: 2rem;
}
.body-request .content .steps .step .order-desc h4 {
  color: #4C9997;
}
.body-request .content .steps .step .order-desc img {
  margin: 0;
  padding: 0;
}
@media (min-width: 898px) {
  .body-request .content .steps {
    max-width: 30%;
  }
}
@media (min-width: 898px) {
  .body-request .content {
    flex-direction: row;
    justify-content: center;
  }
}

.body-landing .taqdeer-container {
  height: 50vh;
  width: 85vw;
  margin: 0 auto;
  background-image: url(/assets/images/id-copy.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.body-landing .taqdeer-container > * {
  flex-basis: 100%;
}
.body-landing .taqdeer-container .taqdeer-text .best-taqdeer {
  color: #4C9997;
}
.body-landing .taqdeer-container .taqdeer-text .accident {
  display: flex;
}
.body-landing .taqdeer-container .taqdeer-text .accident > * {
  margin-left: 10px;
}
.body-landing .taqdeer-container .taqdeer-text .accident button {
  background-color: #4C9997;
  color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 3px;
  transition: color 0.3s, background-color 0.3s;
  padding: 0 5px;
}
.body-landing .taqdeer-container .taqdeer-text .accident button:hover {
  border: 1px solid #4C9997;
  color: #4C9997;
  background-color: #fff;
}
.body-landing .taqdeer-container .taqdeer-img {
  display: flex;
  justify-content: flex-end;
  margin: 0 3rem;
}
.body-landing .taqdeer-container .taqdeer-img img {
  width: 80%;
}
@media (min-width: 898px) {
  .body-landing .taqdeer-container .taqdeer-img {
    max-width: 50%;
  }
}
.body-landing .easy-taqdeer {
  height: 70vh;
  background-color: #fafafa;
  background-image: url(/assets/images/image-1-tran.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.body-landing .easy-taqdeer .inner-easy-taqdeer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.body-landing .easy-taqdeer .inner-easy-taqdeer > * {
  width: 680px;
}
.body-landing .easy-taqdeer .inner-easy-taqdeer .easy-img-container {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
}
.body-landing .easy-taqdeer .inner-easy-taqdeer .easy-img-container .easy-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body-landing .easy-taqdeer .inner-easy-taqdeer .easy-img-container > * {
  flex-basis: 100%;
}
.body-landing .easy-taqdeer .inner-easy-taqdeer .easy-img-container .bubble-num {
  background-color: #4C9997;
  color: #fff;
  border-radius: 50px;
  margin: 10px 0;
  width: 25px;
  font-size: 0.9rem;
}

footer .reserve-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-height: 20vh;
  padding: 0.5rem 1rem;
  background-color: #4C9997;
  color: #fff;
  font-size: 1.5rem;
}
footer .reserve-area .service-letter {
  width: 40%;
}
footer .reserve-area .appointment {
  white-space: nowrap;
  margin: 0 2rem;
}
footer .reserve-area .appointment button {
  background-color: #fff;
  color: #333645;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 3px;
  transition: color 0.3s, background-color 0.3s;
}
footer .reserve-area .appointment button:hover {
  color: #fff;
  background-color: #333645;
}
footer .info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
footer .info .title {
  color: #4C9997;
}
footer .info .center-contact {
  margin: 2rem 1rem;
  font-size: 0.9rem;
  color: #7A7A7A;
}
footer .info .center-contact ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer .info .center-contact ul a {
  text-decoration: none;
  color: #7A7A7A;
  transition: color 0.5s;
}
footer .info .center-contact ul a:hover {
  color: #4C9997;
}
footer .info .center-info {
  margin: 2rem 1rem;
  font-size: 0.9rem;
  color: #7A7A7A;
}
footer .info .center-info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer .info .center-info ul a {
  text-decoration: none;
  color: #7A7A7A;
  transition: color 0.5s;
}
footer .info .center-info ul a:hover {
  color: #4C9997;
}
footer .info .center-service {
  margin: 2rem 1rem;
  font-size: 0.9rem;
  color: #7A7A7A;
}
footer .info .center-service ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer .info .center-service ul a {
  text-decoration: none;
  color: #7A7A7A;
  transition: color 0.5s;
}
footer .info .center-service ul a:hover {
  color: #4C9997;
}
footer .info .center-photo {
  margin: 2rem 1rem;
  font-size: 0.9rem;
  color: #7A7A7A;
}
footer .info .center-photo ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer .info .center-photo ul a {
  text-decoration: none;
  color: #7A7A7A;
  transition: color 0.5s;
}
footer .info .center-photo ul a:hover {
  color: #4C9997;
}
footer .info .center-photo ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
footer .info .center-photo ul li img {
  cursor: pointer;
  margin: 0 5px;
  border-radius: 5px;
  transition: filter 0.5s;
}
footer .info .center-photo ul li img:hover {
  filter: brightness(70%);
}
footer .copy-right {
  border-top: 1px solid rgba(122, 122, 122, 0.1);
  color: #4C9997;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .copy-right > div {
  padding: 2rem;
}
footer .copy-right .copy-right-text {
  font-size: 0.9rem;
  white-space: nowrap;
  width: 40%;
}

/*
=============================
======== social icons =======
=============================
*/
.socials {
  order: 2;
}
.socials .social-item {
  display: inline;
  padding: 0 5px;
  cursor: pointer;
  color: #4C9997;
}
.socials .social-item a {
  color: #4C9997;
}
.socials .social-item a:hover {
  color: #7A7A7A;
}

.black-text {
  color: #333645;
}

.primary-text {
  color: #4C9997;
}

/*# sourceMappingURL=style.css.map */
